@model Models.ApiModels.EmailToSend

<style>
    /* Style inputs, select elements and textareas */
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
    }

    /* Style the label to display next to the inputs */
    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    /* Style the submit button */
    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
    }

    /* Style the container */
    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    /* Floating column for labels: 25% width */
    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    /* Floating column for inputs: 75% width */
    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

@using (Html.BeginForm("SendingEmail", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container2" style="width: 50%;">
        <form action="action_page.php">
            <div class="row">
                <div class="col-25">
                    <label>Odbiorca</label>
                </div>
                <div class="col-75">
                    @Html.TextBoxFor(model => model.EmailReceiver, new { @readonly = "readonly" })
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Temat</label>
                </div>
                <div class="col-75">
                    @Html.TextBoxFor(model => model.EmailSubject, new { required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Wiadomość</label>
                </div>
                <div class="col-75">
                    @Html.TextAreaFor(model => model.EmailMessage, new { rows = "13", cols = "25", @placeholder = "Twoja wiadomość..." })
                </div>
            </div>
            <div class="row" style="padding: 0px 0px 0px 15px ">
                <input type="submit" value="Wyślij">
            </div>
        </form>
    </div>

    <div>
        <br />
        @Html.ActionLink("Wróć do listy", "Index") |
        @Html.ActionLink("Wróć do klienta", "Details", "Customer", new { id = ViewBag.CustomerID }, null)
    </div>

    <h2>@ViewBag.message</h2>
}