@model Models.RefModels.Phone

@{
    ViewBag.Title = "Usuwanie";
}

<div style="font-family:Arial">
    <h2>Usuwanie numeru telefonu klienta</h2>

    <h3>Czy na pewno chcesz usunąć ten numer telefonu?</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Dane klienta
            </dt>

            <dd>
                @Html.Raw(ViewBag.CustomerData)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneContent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneContent)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-danger" /> |
                @Html.ActionLink("Wróć", "Details", "Customer", new { id = Model.Customer.ID }, null)
            </div>
        }
    </div>
</div>
